<launch>
 <param name="/use_sim_time" value="false" /> 

 <!-- Filter raw gyro data into a usable IMU message -->
 <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter">
   <!-- This environment variable is populated by an env hook in the jackal_base
        package. It looks for a user-generated mag config (eg, from running
        the calibrate_compass script), and falls back on a default one. -->
   <rosparam file="$(env JACKAL_MAG_CONFIG)" />
   <rosparam>
     gain: 0.1
     zeta: 0.001
     publish_tf: false
   </rosparam>
   <!-- <remap from="imu/data_raw" to="imu_um7/data" /> -->
 </node>

 <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" >
  <arg name="frame_id" value="front_laser" />
  <!-- <remap from="scan" to="front/scan" /> -->
 </include>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find pbot-jackal_navigation)/maps/home_room.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find pbot-jackal_navigation)/launch/include/amcl.launch" >
  <arg name="scan_topic" value="scan" />
 </include>

  <!--- Run Move Base -->
 <include file="$(find pbot-jackal_navigation)/launch/include/move_base.launch" />

</launch>